@import "tailwindcss";

@theme {
  --color-valorant-red: #ff4655;
  --color-void: #0f1923;
  --color-light: #ece8e1;
  --color-background: var(--color-void);
  --color-foreground: var(--color-light);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0f1923;
  --foreground: #ece8e1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
